ion-view(title='Account')
  ion-content.padding
    h1 Service Authentication
    
    .list.list-inset
      label.item.item-input
        input(type="text", placeholder="Username", ng-model='user.username')
      label.item.item-input
        input(type="password", placeholder="Password", ng-model='user.password')

    button.button.button-balanced.button-block(ng-click='login(user)') Login
